{% extends 'tuteurBase.html.twig' %}

{% block title %}Accueil Tuteur
{% endblock %}

{% block main %}

	<div class=" d-flex flex-column gap-3 text-center">

		<h1 class="badge text-bg-dark">Bonjour
			{{ user.prenom }}
			{{ user.nom }}</h1>


		<div>
			<h2 class="rounded  text-center bg-warning mb-3 p-3">Vos apprenants</h2>
			<div class="list-group">
				{% for apprenant in apprenants %}
					<a href="{{ path('tuteurApprenant', {'apprenantId': apprenant.id}) }}" class="list-group-item list-group-item-action">
						{{ apprenant.nom }}
						{{ apprenant.prenom }}
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
