{% extends 'tuteurBase.html.twig' %}

{% block title %}Matière Selectionnée
{% endblock %}

{% block main %}


	<div class="d-flex flex-column gap-3">
		<div class=" d-flex justify-content-between">
			<h2 class="rounded bg-dark text-light p-3">
				Programme</h2>
			<a href="{{ path('tuteurApprenant', {'apprenantId': apprenant.id})}}" class="btn btn-light h-50">Retour au profil de
				{{ apprenant.prenom }}
				{{ apprenant.nom }}</a>
		</div>
		<div class="rounded bg-light text-dark p-3">
			<h2 class="rounded  text-center bg-warning mb-3 p-3 w-25">{{ matiere.nom }}</h2>
			<p class="border rounded p-3">{{ matiere.programme }}</p>

		</div>


	</div>

{% endblock %}
