{% extends 'tuteurBase.html.twig' %}

{% block title %}Notes de l'apprenant
{% endblock %}

{% block main %}

	<div class="d-flex flex-column gap-3">
		<div class="d-flex justify-content-between">
			<h2 class="rounded bg-dark text-light p-3">
				Notes de
				{{ apprenant.prenom }}
				{{ apprenant.nom }}</h2>
			<a href="{{ path('tuteurApprenant', {'apprenantId': apprenant.id})}}" class="btn btn-light h-50">Retour au profil de
				{{ apprenant.prenom }}
				{{ apprenant.nom }}</a>
		</div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Matière</th>
					<th scope="col">Evaluation</th>
					<th scope="col">Note</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				{% for note in notes %}
					<tr>
						<td>{{ note.matiere.nom }}</td>
						<td>{{ note.evaluation }}</td>
						<td>{{ note.note }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
{% endblock %}
