{% extends 'tuteurBase.html.twig' %}

{% block title %}Profil apprenant
{% endblock %}

{% block main %}

	<div  class="d-flex flex-column gap-3">

		<div class="d-flex justify-content-between">
			<h2 class="rounded bg-dark text-light p-3">Profil de
				{{ apprenant.prenom }}
				{{ apprenant.nom }}</h2>
			<a href="{{ path('tuteurHome')}}" class="btn btn-light h-50">Retour à l'accueil tuteur</a>
		</div>
		<div class="d-flex flex-column">
				<h2 class="badge text-bg-warning">Notes</h2>
				<a class="btn btn-light btn-lg" href="{{ path('tuteurNotes', {'apprenantId': apprenant.id })}}">
					Voir les notes de {{ apprenant.prenom }} {{ apprenant.nom }}
				</a>
			</div>


		<div class="d-flex flex-column">
			<h2 class="badge text-bg-warning ">Liste de matières</h2>
	
			<div class="list-group text-center">
				{% for matiere in matieres %}
					<a href="{{ path('tuteurMatiere', {'matiereId': matiere.id, 'apprenantId': apprenant.id }) }}" class="list-group-item list-group-item-action">{{ matiere.nom }}</a>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
