{% extends 'apprenantBase.html.twig' %}

{% block title %}Accueil Formateur
{% endblock %}

{% block main %}


	<div class=" d-flex flex-column gap-4">
		<h1 class="rounded bg-dark text-light mt-5 p-3 text-center">Bonjour
			{{ user.prenom }}
			{{ user.nom }}</h1>


		<div class="d-flex flex-column">
			<h2 class="badge text-bg-warning ">Mes notes</h2>
			<a href="{{path('apprenantNotes')}}" class="btn btn-lg btn-light w-50 m-auto">
				Voir mes notes
			</a>
		</div>


		<div class="d-flex flex-column">
			<h2 class="badge text-bg-warning">Mes matières pour la formation
				{{formation.nom}}</h2>
			<div class="list-group text-center">
				{% for matiere in matieres %}
					<a href="{{path('apprenantProgramme', {'matiereId': matiere.id})}}" class="list-group-item list-group-item-action">{{matiere.nom}}</a>

				{% endfor %}
			</div>
		</div>

	</div>

{% endblock %}
