{% extends 'base.html.twig' %}

{% block title %}Accueil Formateur
{% endblock %}

{% block body %}
	<h1>Bonjour
		{{ user.prenom }}
		{{ user.nom }}</h1>
	<h2>Mes notes</h2>

	<a href="{{path('apprenantNotes')}}">
		Voir mes notes
	</a>
	<h2>Mes matières pour la formation
		{{formation.nom}}</h2>
	<table>
		{% for matiere in matieres %}
			<tr>
				<td>{{matiere.nom}}
				</td>
				<td>
					<a href="{{path('apprenantProgramme', {'matiereId': matiere.id})}}">
						Voir le programme
					</a>
				</td>
			</tr>
		{% endfor %}

	</table>
	<a href="{{path('app_logout')}}">Se deconnecter</a>
{% endblock %}
