{% extends 'apprenantBase.html.twig' %}

{% block title %}{% endblock %}

{% block main %}
	
	<div class="d-flex flex-column gap-3"  >
		<div class="d-flex justify-content-between">
			<h2 class="rounded bg-dark text-light p-3">Les notes de
				{{ user.prenom }}
				{{ user.nom }}
			</h2>
			<a href="{{path('apprenantHome')}}" class="btn btn-light h-50">
			Retour à l'accueil</a>
		</div>
		<table class="table table-striped rounded shadow-lg">
			<thead>
				<tr>
					<th>Matière</th>
					<th>Evaluation</th>
					<th>Note</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				{% for note in notes %}
					<tr>
						<td>{{note.matiere.nom}}</td>
						<td>{{note.evaluation}}</td>
						<td>{{note.note}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
