{% extends 'adminBase.html.twig' %}

{% block title %}
	List of Formations
{% endblock %}

{% block main %}
	
	
		<div class="d-flex flex-column gap-3">
			<div class="d-flex justify-content-between">
				<h2 class="rounded bg-dark text-light p-3 ">Liste des notes</h2>
				<a href="{{ path('adminHome') }}" class="btn btn-light h-50">Retour a l'accueil</a>
			</div>
			<table class="table table-striped  rounded m-auto text-center">
				<thead>
					<tr>
						<th>Evaluation</th>
						<th>Apprenant</th>
						<th>Note</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody class="table-group-divider">
					{% for note in notes %}
						<tr>
							<td>
								{{ note.evaluation }}
							</td>
							<td>{{ note.apprenant.nom }}
								{{ note.apprenant.prenom }}</td>
			
							<td>
								{{ note.note }}
							</td>
							<td> <a href="{{ path('adminModifierNote', {'noteId': note.id}) }}" class="btn btn-secondary">Modifier</a></td>
							<td> <a href="{{ path('adminSupprimerNote', {'noteId': note.id}) }}" class="btn btn-danger">Supprimer</a></td>
			
						</tr>
					{% endfor %}
				</tbody class="table-group-divider">
			</table>
		</div>


{% endblock %}
