{% extends 'adminBase.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block main %}
	<div class="d-flex flex-column gap-3">
		<div class="d-flex justify-content-between">
			<h2 class="rounded bg-dark text-light p-3">Ajouter une formation</h2>
			<a href="{{ path('adminHome') }}" class="btn btn-light h-50">Retour a l'accueil</a>

		</div>
		<form action="{{ path('adminNewFormation') }}" method="post" class="bg-light p-3">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			<input type="submit" value="Ajouter" class="btn btn-success">
			{{ form_end(form) }}
		</form>


	</div>

{% endblock %}
