{% extends 'adminBase.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block main %}
	<h1 class="rounded bg-dark text-light mt-5 p-3 w-50 m-auto text-center" >Hello admin!</h1>
	<div class="container rounded d-flex flex-sm-column  flex-lg-row justify-content-center text-center gap-4 mt-3">
		<section>
			<h2 class="rounded  text-center bg-warning mb-3 p-3">Ajouter des données</h2>
			<div class="list-group">
				<a href="{{ path('adminNewUtilisateur') }}" class="list-group-item list-group-item-action">Ajouter un utilisateur</a>

				<a href="{{ path('adminNewFormation') }}" class="list-group-item list-group-item-action">Ajouter une formation</a>

				<a href="{{ path('adminNewMatiere') }}" class="list-group-item list-group-item-action">Ajouter une matière</a>

				<a href="{{ path('adminNewNote') }}" class="list-group-item list-group-item-action">Ajouter une note</a>

			</div>
		</section>
		<section>
			<h2 class="rounded  text-center bg-warning mb-3 p-3">Modifier les données</h2>
			<div class="list-group">
				<a href="{{ path('adminUtilisateurs') }}" class="list-group-item list-group-item-action">Modifier un utilisateur</a>
				<a href="{{ path('adminFormations') }}" class="list-group-item list-group-item-action">Modifier une formation</a>
				<a href="{{ path('adminMatieres') }}" class="list-group-item list-group-item-action">Modifier une matière</a>
				<a href="{{ path('adminNotes') }}" class="list-group-item list-group-item-action">Modifier une note</a>
			</div>
		</section>
	</div>
{% endblock %}
