{% extends 'adminBase.html.twig' %}

{% block title %}
	List of Formations
{% endblock %}

{% block main %}
	

		<div class="d-flex flex-column gap-3">
			<div class="d-flex justify-content-between">
				<h2 class="rounded bg-dark text-light p-3">Liste des formations</h2>
				<a href="{{ path('adminHome') }}" class="btn btn-light h-50">Retour a l'accueil</a>
			</div>
			<table class="table table-striped rounded m-auto text-center">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Matières</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody class="table-group-divider">
					{% for formation in formations %}
						<tr>
							<td>{{ formation.nom }}</td>
							<td>
								{% for matiere in formation.matieres %}
									{{ matiere.nom }}
								{% endfor %}
							</td>
							<td><a href="{{ path('adminModifierFormation', {'formationId': formation.id}) }}" class="btn btn-secondary">Modifier</a></td>
							<td><a href="{{ path('adminSupprimerFormation', {'formationId': formation.id}) }}" class="btn btn-danger">Supprimer</a></td>
			
						</tr>
					{% endfor %}
				</tbody>
			</table>
		
		</div>


{% endblock %}
