{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<header>
		<nav class="navbar bg-dark border-bottom border-body navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{ path('apprenantHome') }}">
					<img src="{{ asset('images/logo_blanc.png') }}" alt="Logo" width="80">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link" href="{{ path('apprenantNotes') }}">Mes notes</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('apprenantMatieres') }}">Mes matieres</a>
						</li>
					</ul>
					<a href="{{ path('app_logout') }}">
						<button class="btn btn-primary">Se deconnecter</button>
					</a>

				</div>
			</div>
		</nav>
	</header>


	<main class="col col-lg-9 p-5 mx-auto">
		{% block main %}{% endblock %}
	</main>


{% endblock %}
