{% extends 'base.html.twig' %}

{% block title %}Apprenant Formateur{% endblock %}

{% block body %}
    <h1>Apprenant</h1>
    <ul>
        <li>{{ apprenant.nom }}</li>
        <li>{{ apprenant.prenom }}</li>
        <li>{{ apprenant.email }}</li>
    </ul>

    <h1>Notes</h1>
    <a href="{{ path('formateurCreerNote', {'apprenantId': apprenant.id, 'formationId': apprenant.formationSuivie.id})}}">Ajouter une note</a>
    <table>
        <tr>
            <th>Evaluation</th>
            <th>Note</th>
        </tr>
        {% for note in apprenant.notes %}
        <tr>
            <td>{{ note.matiere.nom }}</td>
            <td>{{ note.evaluation }}</td>
            <td>{{ note.note }}</td>
            <td> <button href="">Modifier</button></td>
            <td> <button href="">Supprimer</button></td>
        </tr>
        {% endfor %}
    </table>

    <a href="{{ path('formateurHome') }}">Retour à l'accueil formateur</a>
    <a href="{{ path('formateurFormation', {'formationId': apprenant.formationSuivie.id}) }}">Retour à {{apprenant.formationSuivie.nom}}</a>

{% endblock %}
