{% extends 'base.html.twig' %}

{% block title %}Matiere
{% endblock %}

{% block body %}
	<h1>{{ matiere.nom }}</h1>
	<h2>Programme</h2>
	<a href=" {{ path('formateurModifierProgramme', {'matiereId': matiere.id, 'formationId': formation.id}) }}">Modifier le programme</a>
	<p>{{ matiere.programme }}</p>

	<a href="{{ path('formateurFormation', {'formationId': formation.id}) }}">Retour à la page
		{{formation.nom}}</a>
	<br>
	<a href="{{ path('formateurHome') }}">Retour à l'accueil formateur</a>


{% endblock %}
