{% extends 'base.html.twig' %}

{% block title %}Accueil Formateur
{% endblock %}

{% block body %}
	<h1>Accueil Formateur</h1>
	<ul>
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<li>Email:
				{{ app.user.email }}</li>
			<li>Nom:
				{{ app.user.nom }}</li>
			<li>
				Prenom:
				{{ app.user.prenom }}</li>
		{% endif %}
	</ul>
	<h2>Formations</h2>
	<ul>
		{% for formation in formations %}
			<li>
				<a href="{{ path('formateurFormation', {
                    'formationId': formation.id, 
                    'formations': formations,
                    'matieres' : matieres
                    }) }}">{{ formation.nom }}</a>
			</li>
		{% endfor %}

	</ul>
{% endblock %}
