{% extends 'base.html.twig' %}

{% block title %}Formations Formateur
{% endblock %}
{% block body %}
	<h1>Modifier la note</h1>
	<h2>{{ apprenant.prenom }} {{ apprenant.nom }} pour l'évaluation {{ note.matiere.nom }}</h2>
	<form action="{{ path('formateurModifierNote', {'noteId': note.id, 'formationId': apprenant.formationSuivie.id, 'apprenantId': apprenant.id}) }}" method="post">
		{{ form_start(form) }}
		{{ form_errors(form) }}
		{{ form_row(form.evaluation) }}
		{{ form_row(form.note, {'type': 'number', 'attr': {'min': 0, 'max': 20}}) }}
		
		<div style="display: none;">
			{{ form_row(form.apprenant) }}
			{{ form_row(form.matiere) }}
		</div>
		<input type="submit">
		{{ form_end(form) }}
	</form>
	<a href="{{ path('formateurApprenant', {'apprenantId': apprenant.id, 'formationId': apprenant.formationSuivie.id})}}">Retour au profil de {{ apprenant.prenom }} {{ apprenant.nom }}</a>
	<br>
	<a href="{{ path('formateurHome')}}">Retour à l'accueil formateur</a>

{% endblock %}
