{% extends 'formateurBase.html.twig' %}

{% block title %}Formations Formateur
{% endblock %}

{% block main %}
	

	<div>
		<div class="d-flex justify-content-between">
			<h2 class="rounded bg-dark text-light p-3">{{ formation.nom }}</h2>
			<a href="{{ path('formateurHome') }}" class="btn btn-light h-50">Retour à l'accueil</a>
		</div>

		<div class="row">
			<div class="col-8">
				<h2 class="rounded text-center bg-warning p-3">Matières</h2>
				<div class="row row-cols-2">
					{% for matiere in matieres %}
						<div class="bg-light p-3 text-center mx-3">
							<h3>{{ matiere.nom }}</h3>
							<a href="{{path('formateurMatiere', {'matiereId': matiere.id, 'formationId': formation.id})}}" class="btn btn-warning ">Voir le programme
							</a>
						</div>

					{% endfor %}
				</div>
			</div>


			<div class="col-4">
				<h2 class="rounded  text-center bg-warning p-3">Apprenants</h2>
				<div class="row row-cols-1 gap-3 bg-light p-3 rounded mx-1">
					{% for apprenant in apprenants %}

						<a href="{{path('formateurApprenant', {'apprenantId': apprenant.id, 'formationId': formation.id})}}" class="col btn btn-dark rounded-pill">{{ apprenant.nom }}
							{{ apprenant.prenom }}</a>

					{% endfor %}
				</div>
			</div>

		</div>

	</div>
{% endblock %}
