{% extends 'formateurBase.html.twig' %}

{% block title %}Modifier le programme
{% endblock %}

{% block main %}
	

	<div class="rounded gap-3">
		<div class="d-flex justify-content-between">
			<h2 class="rounded bg-dark text-light p-3 mb-3">{{formation.nom}} / {{ matiere.nom }} / Modifier</h2>
			<a href="{{ path('formateurMatiere', {'matiereId': matiere.id, 'formationId': formation.id}) }}" class="btn btn-light h-50">Retour à la page
			{{ matiere.nom }}</a>
		</div>


		<form action="{{ path('formateurModifierProgramme', {'matiereId': matiere.id, 'formationId': formation.id}) }}" method="post" class=" bg-light p-3" >
			{{ form_start(form) }}
			{{ form_errors(form) }}
			{{ form_row(form.programme) }}
			<div style="display: none;">
				{{ form_row(form.formateur) }}
				{{ form_row(form.formation) }}
				{{ form_row(form.nom) }}
			</div>
			<input type="submit" value="Valider" class="btn btn-success">
			{{ form_end(form) }}
		</form>
	</div>
	

{% endblock %}
