{% extends 'base.html.twig' %}

{% block title %}Profil de l'apprenant{% endblock %}

{% block body %}
    <h1>{{ apprenant.prenom }} {{ apprenant.nom }} </h1>
    <p>{{ apprenant.email }}</p>

    <h1>Notes</h1>
    <a href="{{ path('formateurCreerNote', {'apprenantId': apprenant.id, 'formationId': apprenant.formationSuivie.id})}}">Ajouter une note</a>
    <table>
        <tr>
            <th>Evaluation</th>
            <th>Note</th>
        </tr>
        {% for note in apprenant.notes %}
        <tr>
            <td>{{ note.matiere.nom }}</td>
            <td>{{ note.evaluation }}</td>
            <td>{{ note.note }}</td>
            <td> 
                <a href="{{ path('formateurModifierNote', {'noteId': note.id, 'formationId': apprenant.formationSuivie.id, 'apprenantId': apprenant.id}) }}">Modifier</a>
            </td>
            <td> 
                <form action="{{ path('formateurSupprimerNote', {'noteId': note.id, 'formationId': apprenant.formationSuivie.id, 'apprenantId': apprenant.id}) }}" method="post">
                <input type="submit" value="Supprimer"></form>
            </td>

            
            
        </tr>
        {% endfor %}
    </table>

    <a href="{{ path('formateurHome') }}">Retour à l'accueil formateur</a> <br>
    <a href="{{ path('formateurFormation', {'formationId': apprenant.formationSuivie.id}) }}">Retour à {{apprenant.formationSuivie.nom}}</a>

{% endblock %}
