{% extends 'formateurBase.html.twig' %}

{% block title %}Formations Formateur
{% endblock %}

{% block main %}
	<a href="{{ path('formateurFormation', {'formationId': formation.id}) }}" class="btn btn-secondary btn-sm m-2">Retour à la page
		{{formation.nom}}</a>

	<div class="container rounded  gap-3">
		<h1 class="rounded bg-dark text-center text-light p-3  w-50 m-auto ">{{matiere.nom}}</h1>
		<a href=" {{ path('formateurModifierProgramme', {'matiereId': matiere.id, 'formationId': formation.id}) }}" class="btn btn-secondary my-3">Modifier le programme</a>

		<p class="rounded bg-light text-dark p-3">{{ matiere.programme }}</p>

		
	</div>

{% endblock %}
