{% extends 'formateurBase.html.twig' %}

{% block title %}Formations Formateur
{% endblock %}
{% block main %}


	<div class=" d-flex flex-column gap-3">
		<div class="d-flex justify-content-between">
			<h2 class="rounded bg-dark text-light p-2 ">
				{{ apprenant.formationSuivie.nom }} 
				/ {{ apprenant.prenom }} {{ apprenant.nom }}
				/ {{ note.matiere.nom }}
				/ Modifier
			</h2>
			<a href="{{ path('formateurApprenant', {'apprenantId': apprenant.id, 'formationId': apprenant.formationSuivie.id})}}" class="btn btn-light h-50">Retour au profil de
				{{ apprenant.prenom }}
				{{ apprenant.nom }}</a>
		</div>

		<form action="{{ path('formateurModifierNote', {'noteId': note.id, 'formationId': apprenant.formationSuivie.id, 'apprenantId': apprenant.id}) }}" method="post" class="m-auto w-75 bg-light p-3">
			{{ form_start(form) }}
			{{ form_errors(form) }}
			{{ form_row(form.evaluation) }}
			{{ form_row(form.note, {'type': 'number', 'attr': {'min': 0, 'max': 20}}) }}

			<div style="display: none;">
				{{ form_row(form.apprenant) }}
				{{ form_row(form.matiere) }}
			</div>
			<input type="submit" class="btn btn-success" value="Valider">
			{{ form_end(form) }}
		</form>
	</div>

{% endblock %}
