{% extends 'base.html.twig' %}

{% block title %}Accueil Formateur
{% endblock %}

{% block body %}
	<a href="{{ path('app_logout') }}">Se deconnecter</a>
	<h1>Bienvenue {{ app.user.prenom }} {{ app.user.nom }}</h1>
	<h2>Vos formations</h2>
	<ul>
		{% for formation in formations %}
			<li>
				<a href="{{ path('formateurFormation', {
                    'formationId': formation.id, 
                    'formations': formations,
                    'matieres' : matieres
                    }) }}">{{ formation.nom }}</a>
			</li>
		{% endfor %}

	</ul>
{% endblock %}
