{% extends 'formateurBase.html.twig' %}

{% block title %}Formations Formateur
{% endblock %}

{% block main %}
	

	
	<div class="d-flex flex-column gap-3">
		<div class="d-flex justify-content-between">
			<div class="rounded bg-dark text-light p-2 ">
				<h2>{{ apprenant.formationSuivie.nom }} / {{ apprenant.prenom }} {{ apprenant.nom }} / Ajouter une note
				</h2>
			</div>
			<a href="{{ path('formateurApprenant', {'apprenantId': apprenant.id, 'formationId': apprenant.formationSuivie.id})}}" class="btn btn-light h-50">Retour au profil de
			{{ apprenant.prenom }}
			{{ apprenant.nom }}</a>
		</div>

		<form action="{{ path('formateurCreerNote', {'apprenantId': apprenant.id, 'formationId': apprenant.formationSuivie.id}) }}" method="post" class=" w-75 m-auto bg-light p-3">
			{{ form_start(form) }}
			{{ form_row(form.evaluation) }}
			{{ form_row(form.note, {'type': 'number', 'attr': {'min': 0, 'max': 20}}) }}
			<div style="display: none;">
				{{ form_row(form.apprenant, {'value': apprenant.id }) }}
			</div>
			{{ form_widget(form) }}
			<input type="submit" class="btn btn-success" value="Valider">
			{{ form_end(form) }}
		</form>

	</div>
	
{% endblock %}
