{% extends 'base.html.twig' %}

{% block title %}Formations Formateur
{% endblock %}

{% block body %}
	<h1>Ajouter une note pour
		{{ apprenant.prenom }}
		{{ apprenant.nom }}</h1>
	<form action="{{ path('formateurCreerNote', {'apprenantId': apprenant.id, 'formationId': apprenant.formationSuivie.id}) }}" method="post">
		{{ form_start(form) }}
			<input type="submit">
		{{ form_end(form) }}

	</form>
{% endblock %}
