{% extends 'formateurBase.html.twig' %}

{% block title %}Profil de l'apprenant{% endblock %}

{% block main %}
     
    <div class=" d-flex flex-column  gap-3">

        <div class="d-flex justify-content-between">
            <div class="rounded bg-dark text-light p-3"  >
                <h2>{{apprenant.formationSuivie.nom}} / {{ apprenant.prenom }} {{ apprenant.nom }} </h2>
                <span>{{ apprenant.email }}</span>
            </div>
             <a href="{{ path('formateurFormation', {'formationId': apprenant.formationSuivie.id}) }}" class="btn btn-light h-50">Retour à {{apprenant.formationSuivie.nom}}</a>
        </div>
        
        <a href="{{ path('formateurCreerNote', {'apprenantId': apprenant.id, 'formationId': apprenant.formationSuivie.id})}}" class="btn btn-success w-50 m-auto">Ajouter une note</a>
        <table class="table">
            <tr>
                <th>Matière</th>
                <th>Evaluation</th>
                <th>Note</th>
                <th></th>
                <th></th>
            </tr>
            {% for note in apprenant.notes %}
            <tr>
                <td>{{ note.matiere.nom }}</td>
                <td>{{ note.evaluation }}</td>
                <td>{{ note.note }}</td>
                <td class="text-center"> 
                    <a href="{{ path('formateurModifierNote', {'noteId': note.id, 'formationId': apprenant.formationSuivie.id, 'apprenantId': apprenant.id}) }}" class="btn btn-secondary">Modifier</a>
                </td>
                <td class="text-center"> 
                    <form action="{{ path('formateurSupprimerNote', {'noteId': note.id, 'formationId': apprenant.formationSuivie.id, 'apprenantId': apprenant.id}) }}" method="post">
                    <input type="submit" value="Supprimer" class="btn btn-danger"></form>
                </td>
    
                
                
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
